* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(192, 146, 48);
}

.heading{
    margin-top: 30px;
    text-align: center;
    color: rgb(11, 102, 102);
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.in{
    padding: 10px;
    width: 20%;
    border: 2px solid rgb(107, 107, 241);
    border-radius: 30px;
    margin: 20px;
    color: black;
    background: lightblue;
    font-size: larger;
}

#btn{
    padding: 15px 30px;
    border-radius: 20px;
    background-color: blue;
    color: red;
    border: 1px blue;
    font-size: large;
    font-weight: bold;
}

#todo-list{
    color: rgb(5, 4, 2);
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

button{
    font-size: 25px;
    padding: 5px;
    margin: 2px;
}